@import url('https://fonts.googleapis.com/css2?family=Figtree:wght@400;500;600;700&display=swap');
@import "tailwindcss";

@import "./layout.css";
@import "./components.css";
@import "./pages.css";

@layer base {
  :root {
    --container: 1024px;
    --gap: 1rem;
  }

  * {
    @apply box-border;
  }

  body {
    @apply bg-[#f7f7fa] text-[#111] m-0;
    font-family: 'Figtree', sans-serif;
  }

  h1 {
    @apply text-3xl font-extrabold;
  }
}
